---
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import Help from "../components/Help";
import Layout from "../layouts/Layout.astro"
---


<Layout title="How We Help">
    <main>

        <Navbar  />
        <Help client:load />
        <Footer  />
    </main>
</Layout>

