---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Contact from "../components/Contact";
import Footer from "../components/Footer";
import WhatWeDo from '../components/WhatWeDo';
import HowWeHelp from './HowWeHelp.astro';
import WhoWeAre from './WhoWeAre.astro';
import {Toaster } from 'react-hot-toast';
import Hero from '../components/Hero';
import HowWeDoIt from '../components/HowWeDoIt';

---

<Layout title="Social Me" >
	<main>
		<Toaster position='top-center' client:load/>
		<Navbar client:load />
		<div id="Hero" />
		<Hero client:load />
		<div id="WhatWeDo" />
		
		<WhatWeDo client:load />
		<HowWeDoIt client:load />
		<div id="Contact" />
		<Contact client:load />
		<Footer client:load />
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
