<!-- ---
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import WhoIsWe from "../components/WhoIsWe";
import Layout from "../layouts/Layout.astro"
---


<Layout title="Who We Are">
  <main>
    <Navbar  />
    <WhoIsWe client:load />
    <Footer  />
  </main>
</Layout> -->
